* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-image: url(img/compras.avif);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    padding: 25px;
}